<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bucket</title>
    <link rel="stylesheet" href="../assets/css/styles.css" />
    <link rel="stylesheet" href="../assets/css/Sidebar.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="../node_modules/flowbite/dist/flowbite.min.css"
    />
  </head>

  <body
    class="font-rubik overflow-y-auto overflow-x-hidden dark:bg-main-body h-screen w-screen"
  >
    <main class="p-4 h-full pt-20 bg-light-bg transition-all duration-100">
      <div class="antialiased dark:bg-main-body mr-64" id="main-container">
        <div
          id="features"
          class="flex flex-col lg:flex-row lg:justify-between mb-10"
        ></div>
        <div>
          <button
            id="theme-toggle"
            type="button"
            class="text-white border border-primary dark:text-yellow-400 dark:hover:text-yellow-400 hover:bg-gray-100 dark:hover:bg-primary focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 tooltip tooltip-top"
          >
            <svg
              id="theme-toggle-dark-icon"
              class="hidden w-5 h-5"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"
              ></path>
            </svg>
            <svg
              id="theme-toggle-light-icon"
              class="hidden w-5 h-5"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
                fill-rule="evenodd"
                clip-rule="evenodd"
              ></path>
            </svg>
          </button>
        </div>

        <!-- Selected filters -->
        <div class="flex justify-start space-x-4">
          <div>
            <ul id="selectedFilters" class="flex m-0 mb-3 flex-wrap gap-2">
              <!-- "Clear All" button will be appended here -->
            </ul>
          </div>
        </div>

        <!-- Filter sidebar -->
        <aside
          class="fixed top-0 mt-14 right-0 z-40 w-56 h-screen block"
          id="filter-sidebar"
        ></aside>

        <!-- Table -->
        <div
          class="relative overflow-x-auto shadow-md sm:rounded-lg dark:bg-secondary p-8"
        >
          <table
            class="w-full text-md rtl:text-right text-gray-500 dark:text-gray-400 text-center"
          >
            <thead
              class="text-lg text-gray-700 bg-gray-50 border-b-2 border-gray-500 dark:bg-secondary dark:text-txt-100"
            >
              <tr>
                <th scope="col" class="px-6 py-3">Title</th>
                <th scope="col" class="px-6 py-3">Due Date</th>
                <th scope="col" class="px-6 py-3">Status</th>
                <th scope="col" class="px-6 py-3">Priority Level</th>
                <th scope="col" class="px-6 py-3">Owner</th>

                <th scope="col" class="px-6 py-3"></th>
              </tr>
            </thead>
            <tbody id="rows"></tbody>
          </table>
        </div>
      </div>
    </main>

    <script src="../API/api_client.js"></script>
    <script src="../API/Get_taskList.js" type="module"></script>
    <script src="../API/routes.js"></script>
    <!-- <script src="../API/filter_task.js" type="module"></script> -->

    <script src="../components/TaskList/task_table.js" type="module"></script>
    <script
      src="../components/TaskList/task_features.js"
      type="module"
    ></script>
    <script
      src="../components/TaskList/filter_sidebar.js"
      type="module"
    ></script>

    <script src="../controllers/fetch_task_list.js" type="module"></script>
    <script src="../controllers/render_task_table.js" type="module"></script>
    <!-- <script src="../controllers/search_handler.js" type="module"></script> -->
    <script src="../controllers/main.js" type="module"></script>

    <script src="../node_modules/flowbite/dist/flowbite.min.js"></script>
    <script src="../node_modules/flowbite/dist/datepicker.js"></script>
    <script src="../controllers/darkmode.js"></script>
  </body>
</html>
