<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/styles.css" />
    <title>Bucket</title>
  </head>

  <body>
    <nav>
      <div class="bg-nav p-5">
        <div class="flex justify-center md:justify-end">
          <a
            href="#"
            class="btn text-primary md:border-primary border-2 hover:bg-primary hover:text-white transition ease-out duration-500"
            >Filter</a
          >
          <a
            href="#"
            class="btn ml-4 text-primary md:border-primary border-2 hover:bg-primary hover:text-white transition ease-out duration-500"
            >Sort</a
          >
        </div>
      </div>
    </nav>
    <main>
      <div class="p-20 h-screen bg-custom-bg">
        <div class="mb-6">
          <span
            id="addTask-btn"
            class="btn text-primary md:border-primary border-2 hover:bg-primary hover:text-white transition ease-out duration-500"
            >ADD TASK
        </span>
        </div>
        <div class="bg-secondary p-5 rounded-xl px-14">
          <table class="w-full">
            <thead class="text-txt-100">
              <tr>
                <th class="p3 text-md tracking-wide text-left">Title</th>
                <th class="p3 text-md tracking-wide text-left">Due Date</th>
                <th class="p3 text-md tracking-wide text-left">Status</th>
                <th class="p3 text-md tracking-wide text-left">
                  Priority Level
                </th>
                <th class="p3 text-md tracking-wide text-left">Owner</th>
                <th class="p3 text-md tracking-wide text-left"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="trow">Task</td>
                <td class="trow">11/20/2024</td>
                <td class="trow">To Do</td>
                <td class="trow">Urgent</td>
                <td class="trow">Employee 1</td>
              </tr>
              <tr class="bg-row">
                <td class="trow">Task2</td>
                <td class="trow">10/20/2024</td>
                <td class="trow">Unassigned</td>
                <td class="trow">Urgent</td>
                <td class="trow">None</td>
              </tr>
              <tr>
                <td class="trow">Task</td>
                <td class="trow">11/20/2024</td>
                <td class="trow">To Do</td>
                <td class="trow">Urgent</td>
                <td class="trow">Employee 1</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </main>
  </body>
</html>
