@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

.bg-hero {
  @apply bg-cover bg-center h-screen;
  background-image: url("../assets/images/wavybg.png");
  background-blend-mode: overlay;
}

.trow {
  @apply p-3 text-sm text-txt-200
}

.baloo-2-bold {
  @apply font-baloo;
  font-weight: 700;
  font-style: normal;
}

@layer components {
  .rubik-regular {
    @apply font-rubik font-normal;
    font-weight: "400";
    font-style: normal;
    font-optical-sizing: auto;
  }
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  font-size: 48px;
}
